:root {
  --color-white: #FFFFFF;
  --color-white-blue: #F5F7FB;
  --color-white-red: #e6e5e5;
  --color-grey: #918E9B;
  --color-blue: #2B283A;
  --color-red: #F55A5A;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Inter', sans-serif;
  min-width: 480px;
}


/* nav styling */
nav {
  height: 55px;
  background-color: var(--color-red);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: var(--color-white);
  gap: 5px;
}

nav i {
  font-size: 1.5rem;
}

.title {
  font-size: 1rem;
  letter-spacing: -.75px;
}

/* card styling */
.card {
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card--img {
  border-radius: 5px;
  object-fit: cover;
  width: 126px;
  height: 200px;
  -webkit-box-shadow: 3px 0px 33px -13px rgba(0,0,0,0.64);
  -moz-box-shadow: 3px 0px 33px -13px rgba(0,0,0,0.64);
  box-shadow: 3px 0px 33px -13px rgba(0,0,0,0.64);
}

.card--details {
  
}

.card--location i {
  color: var(--color-red);
  margin-right: 3px;
}

.card--location {
  font-size: .75rem;
  letter-spacing: 1px;
  margin-bottom: .25rem;
  font-weight: 300;
}

.card--maps a{
  color: var(--color-grey);
  margin-left: .75rem;
}

.card--details h1 {
  color: var(--color-blue);
  margin-bottom: 1rem;
  font-weight: bold;
}

.card--date {
  color: var(--color-blue);
  font-weight: bold;
  font-size: .75rem;
  margin-bottom: .75rem;
}

.card--description {
  color: var(--color-blue);
  font-weight: 300;
  font-size: .75rem;
}

.line--break {
  background-color: var(--color-white-red);
  height: 1px;
  margin: 0 40px;
}

@media screen and (min-width: 668px) {
  .card--img {
    width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .card--img {
    width: 265px;
  }
}
